<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @theatre.theatreName %>
</p>

<p>
  <strong>Location:</strong>
<td><%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@theatre.latitude}%2C#{@theatre.longitude}" %><td>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @theatre.capacity %>
</p>
  <strong>Showings:</strong>

<% @theatre.showings.each do |showing| %> <br>
	<%= showing.movie.name %>
	<%= showing.dateAndTime %><br>
<% end %>



<%= link_to 'Edit', edit_theatre_path(@theatre) %> |
<%= link_to 'Back', theatres_path %>
