<p id="notice"><%= notice %></p>

<p>
  <strong>Theatre:</strong>
  <%= @showing.theatre.theatreName %>
</p>

<p>
  <strong>Movie:</strong>
  <%= @showing.movie.name %>
</p>

<p>
  <strong>Date and Time:</strong>
  <%= @showing.dateAndTime %>
</p>

<%= link_to 'Edit', edit_showing_path(@showing) %> |
<%= link_to 'Back', showings_path %>
